@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Sen&display=swap');

body {
    background: #241e24;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 740px;
    margin: 0 auto;
    padding: 5rem 30px 20px;
}

h1.name {
    margin: 0;
    font-family: 'Sen', sans-serif;
    font-size: 22px;
    font-weight: 100;
}

p.desc {
    margin: 0;

    font-size: 12px;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.72);
}

a {
    margin: 0;
    font-size: 11px;
    font-weight: 100;
    color: white;
}

section.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;

    max-width: 350px;
    margin-bottom: 25px;
}

div.avatar {
    padding: 5px;
}

img.avatar {
    border-radius: 50%;
}

div.title {
    padding: 20px;
}

section.about {
    display: flex;
    flex-direction: column;

    max-width: 300px;
    margin-bottom: 25px;
}

div.text {
    margin: 0;
}

h2.title {
    margin: 0;
    margin-bottom: 6px;
    font-family: 'Sen', sans-serif;
    font-size: 16px;
    font-weight: 100;
}

p.text {
    margin: 0;
    font-size: 12px;
    font-weight: 100;
}

section.experience {
    display: flex;
    flex-direction: column;

    max-width: 300px;
    margin-bottom: 25px;
}

div.space {
    margin-bottom: 25px;
}

div.row-card {
    display: flex;
    flex-direction: row;
}

div.date {
    display: flex;
    align-items: center;
    margin: 0;
    margin-right: 10px;
}

div.details {
    margin: 0;
}

p.lang {
    margin-top: 5px;

    color: rgba(255, 255, 255, 0.645);
    font-size: 11px;
    font-weight: 100;
}

section.projects {
    display: flex;
    flex-direction: column;

    max-width: 300px;
    margin-bottom: 25px;
}

div.card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}

div.progress {
    grid-column: span 1;
}

div.info {
    grid-column: span 3;
}

section.links {
    display: flex;
    flex-direction: row;

    position: fixed;
    bottom: 0;

    max-width: 300px;
    margin-bottom: 15px;
}

a.icon {
    margin-right: 15px;
}

a.title-link {
    display: flex;
    align-items: center;
    margin: 0;
    margin-bottom: 6px;

    font-family: 'Sen', sans-serif;
    font-size: 16px;
    font-weight: 100;
}

.arrow {
    margin-left: 5px
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: underline; }
a:active { text-decoration: underline; }